/* code.css */

/* ===[ begin ]=== */

/*
  Title:			Code Design Style
  Author:			Dzenan Ridjanovic, Vedad Kirlic
  Created:			2006-09-03
  Updated:			2011-12-08
  Based on: 
http://www.longren.org/2006/09/27/wrapping-text-inside-pre-tags/
http://cheeaun.phoenity.com/weblog/2005/06/whitespace-and-generated-content.html
*/
    
  pre {
    background: #ffffcc;
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well) */
    white-space: -hp-pre-wrap; /* HP printers */
    white-space: -moz-pre-wrap; /* Mozilla, Firefox */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
  }
			
/* ===[ end ]=== */